bin/
obj/

Images/
.vscode/
.vs/
.idea/

Properties/
launchSettings.json
launchSetting.json

ReferenceCode/

.DS_Store
*.user
*.suo
*.log
*.tmp

TestResults/
*.nupkg
IBOIS.Animation.sln
IBOIS.AnimationComponent.cs
IBOIS.AnimationInfo.cs
